.promo-text {
    @include ginra(700, 82);
    color: #F4F4F4;
    line-height: 92px;

    &__span {
        background: linear-gradient(19deg, #8093FF 11%, #66FFE5 106%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.spiral {
    margin-top: -25%;
    position: relative;
    height: 800px;
    width: 1955px;
}

.spiral img {

    position: absolute;
    top: 91%;
    left: 30%;
    z-index: -1;
    // opacity: 0.8;
    height: 100%;
    width: 100%;
    object-fit: contain;

}



.promo {
    margin: 171px auto;
    max-width: 838px;
    min-height: 288px;
    z-index: 2;
    position: relative;
    text-align: center;
}

.promo-arrow {
    margin: 0 auto;
    margin-top: 164px;
    margin-bottom: 230px;
    width: 1px;
    // margin-top: 164px auto 230px auto;
}

// .promo::after {
//     content: url('../img/big-pattern.png') ;
//     width: 292px;
//     height: 273px;
//     color: #000;
//     position: absolute;
//     top: 0;
//     right: 0;
//     z-index: 1;
//     opacity: 0.8;
// }

.article-wrapper {
    max-width: 1160px;
    min-height: 691px;
    position: relative;
    // margin-top: 89px;
    background: url('../img/big-centered\ image.png') no-repeat;
    background-position: right 35% top 15%;
}

.first-article {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;

    &__text {
        max-width: 522px;
        max-height: 380px;
        // display: flex;
        // gap: 60px;

        &__title {
            @include ginra(400, 62);
            color: #F4F4F4;
            line-height: 74px;
        }

        &__text-content {
            @include ginra(400, 16);
            color: #B8B8B8;
            line-height: 24px;
            // display: flex;
            // align-items: center;
            margin: 60px auto;

        }
    }
}

// .first-article::after{
//     content: url('../img/prujina-3.png');
//     position: absolute;
//     width: 572px;
//     height: 156px;
// }

.link {
    @include ginra(600, 16);
    color: #99A9FF;
    text-transform: uppercase;
    position: relative;

}

.link::after {
    content: url('../img/Arrow-right.png');
    position: absolute;
    top: 0;
    right: -35px;
}

.img {
    position: relative;

    &__front {
        position: absolute;
        bottom: 230px;
        left: 860px;
    }

    &__back {}
}

.second-article {
    margin-top: 200px;

    &__wrapper {
        height: 153px;
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        gap: 54px;

        &__title {
            @include ginra(400, 62);
        }

        &__text-content {
            @include ginra(400, 16);
            line-height: 24px;
            color: #B8B8B8;
        }
    }
}